@charset "utf-8"; 

/*------------------------------------
최초 작성일 : 2021.02.06
마지막 수정일 : 2020.11.06 
------------------------------------*/

#Content{
    padding:60px 50px;
}

/* color */
$main_color: #791CBF;
$white_color: #fff;
$board_list_2n_color: #FAF8FF;
$board_list_hover_color: #F2EEFC;
$default_font_color: #786685;
$board_title_color: #786685;